@font-face {
    font-family: "MandatoryPlaything";
    src: url('../../assets/fonts/MandatoryPlaything.ttf');
}
.Head{
    // width: 100%;
    width: 1313.72px;
    height: 124.6px;
    display: flex;
    align-items: center; //comment this for menu
    justify-items: center;
    justify-content: space-between;
    h1{
        color: #fff;
        // margin-right: 500px;
    }
    img{
        width: 50px;
        margin-right: 180px;
    }
}
.left{
    width: 10%;
}
.right{
    width: 10%;
    display: flex;
    justify-content: right;
}
.center{
    width: 80%;
    text-align: center;
}
.mainTitle{
    font-family: 'MandatoryPlaything';
    font-size: 50px;
    color:#fff;
    font-weight: 1;
    // margin: 33.5px, 500px, 33.5px 0px;
    width: 763.73px;
    height: 57.6px;
}

audio {
    display: none;
}