.teamCard{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    margin: 0 40px;
    background-color: #fff;
    border-radius: 4px;
    height: 150px;
    width: 70px;

    .teamName{
        padding: 0;
        margin: 0 0 10 0;
        border: 0;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;//
        font-size: 20px;
        
    }
    .points{
        padding: 0;
        margin: 0;
        border: 0;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;//
    }
}
.cardPosition{
    display: flex;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 20px 0;
}