.teamCard{
    display: flex;
    align-items: center;
    // justify-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    margin: 0 30px;
    background-color: #fff;
    // width: 70px;
    // height: 80px;
    border-radius: 4px;
    height: 150px;//
    width: 50px;//

    .teamName{
        margin: 0;
        padding: 0;
        border: 0;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;//
        font-size: 20px;
        width: 60px;
    }
    .points{
        margin: 0;
        padding: 0;
        border: 0;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;//
    }
}