.linkTeamCard-editable-down{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    margin: 40px;
    background-color: #fff;
    border-radius: 4px;
    height: 180px;
    width: 90px;
    text-decoration: none;
    animation: tilt-shaking 0.5s infinite;
    position: absolute;
    z-index: 0;
    
    .teamName{
        padding: 0;
        margin: -4px 0px 20px 0px;
        border: 0;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;//
        font-size: 27px;
        text-decoration: none;
        color: #310863;
    }
    .points{
        padding: 0;
        margin: 0;
        border: 0;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;//
        text-decoration: none;
        color: #310863;
    }
}

#over {
    // position: absolute;
    // z-index: 3;
}

#hide {
    position: absolute;
    visibility: hidden;
    z-index: 0;
}

#cont {
    position: relative;
}