.edit{
    background-color: transparent;
    filter: invert(100);
    border: 0px;
    display:inline-flex;
    justify-items: baseline;
    cursor: pointer;
}
.edit:hover {
    transform: scale(1.25);
}

.delete{
    background-color: transparent;
    filter: invert(100);
    border: 0px;
    display:inline-flex;
    justify-items: baseline;
    cursor: pointer;
}
.delete:hover {
    transform: scale(1.25);
}
