.edit{
    background-color: transparent;
    filter: invert(100);
    border: 0px;
    display:inline-flex;
    justify-items: baseline;
}

.delete{
    background-color: transparent;
    filter: invert(100);
    border: 0px;
    display:inline-flex;
    justify-items: baseline;

}
