.MainContainer{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-decoration: none;
    display: block;
    height: 100%;
    overflow: auto;
    height: 500px;
}

.linkTeamCard:hover {
    transform: scale(1.25);
}

.linkTeamCard{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    margin: 40px;
    background-color: #fff;
    border-radius: 4px;
    height: 180px;
    width: 90px;
    text-decoration: none;
    
    .teamName{
        padding: 0;
        margin: -4px 0px 20px 0px;
        border: 0;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;//
        font-size: 27px;
        text-decoration: none;
        color: #310863;
    }
    .points{
        padding: 0;
        margin: 0;
        border: 0;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;//
        text-decoration: none;
        color: #310863;
    }
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(3deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-3deg); }
    100% { transform: rotate(0deg); }
  }

.linkTeamCard-editable{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    margin: 40px;
    background-color: #fff;
    border-radius: 4px;
    height: 180px;
    width: 90px;
    text-decoration: none;
    animation: tilt-shaking 0.5s infinite;
    
    .teamName{
        padding: 0;
        margin: -4px 0px 20px 0px;
        border: 0;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;//
        font-size: 27px;
        text-decoration: none;
        color: #310863;
    }
    .points{
        padding: 0;
        margin: 0;
        border: 0;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;//
        text-decoration: none;
        color: #310863;
    }
}

.linkTeamCard-editable:hover {
    background-color: rgb(11, 11, 11);
}

.cardPosition{
    display: flex;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 20px 0;
}
// Development
.circular{
    width: 85;
    height: 85;
}
.trophys{
    width: 30;
    margin-top: -5;
}
.words{
    font-size: 18;
    margin-top: -5;
    text-decoration: none;
}

.leader{
    text-shadow: black 0.1em 0.1em 0.1em;
    font-size: 27.25px;
    color : rgb(255, 183, 0);
    //-webkit-text-stroke-color: 2px black;
    //background-color: aqua;
}

// .scroll{
//     display: inline-flexbox;
//     align-items: center;
//     justify-items: center;
//     justify-content: center;
//     flex-direction: column;
//     overflow-y: auto;
//     padding-top: 100px;
// }