table{
    table-layout:fixed;
    width: 100%;
    height: 75%;
    border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
}
table tbody tr td{
    align-content: center;
    width: 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
td:nth-child(3){
    width: 20%;
}
th:nth-child(3){
    width: 20%;
}
th{
    background-color: #fff;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: #310863;
}
thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
thead {
    width: 100%;
}
table tbody{
    display: block;
    height: 100%;
    overflow: auto;
}
table tbody tr {
    color: #fff;
}

table tbody tr:nth-of-type(even) {
    color: #fff;
}
tbody tr:hover{
    background-color: rgba(255,255,255,0.1);
    
}
.mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    color: #fff;
}
.name{
    display: inline;
    align-items: center;
    justify-items: center;
    justify-content: center;
    h4{
        justify-items: baseline;
    }
}
.points{
    margin-left: 300px;
    display: inline;
    justify-items: baseline;
}
.addButton{
    height: 43px; 
    width: 40px;
}
.list{
    display: inline-flexbox;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: scroll;
    padding-right: 100px;
    padding-left: 100px;
    h3{
        margin: 0;
    }
}
.list::-webkit-scrollbar{
    width: 0;
}

.item{
    display: inline-block;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: row;
}
.activity{
    padding-right: 400px;
    display:inline-flex;
    color: white;
}
.point{
    padding-right: 100px;
    display:inline-flex;
    color: white;
    justify-items: baseline;
}
.delete{
    display:inline-flex;
    justify-items: baseline;

}
.button{
    height: 40;
    width: 40px; 
}
.edit{
    display:inline-flex;
    justify-items: baseline;
}
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: wheat; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(154, 139, 112); 
  }