.mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}
.title{
    display: inline-flexbox;
    flex-direction: row;
    margin-top: 60px;
}
.name{
    display: inline;
    align-items: center;
    justify-items: center;
    justify-content: center;
    h4{
        justify-items: baseline;
    }
}
.points{
    margin-left: 300px;
    display: inline;
    justify-items: baseline;
}
.add{
    margin-left: 130px;
    display: inline;
    justify-items: baseline;
}
.list{
    display: inline-flexbox;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: scroll;
    padding-right: 100px;
    padding-left: 100px;
    h3{
        margin: 0;
    }
}
.list::-webkit-scrollbar{
    width: 0;
}

.item{
    display: inline-block;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: row;
}
.activity{
    padding-right: 400px;
    display:inline-flex;
    color: white;
}
.point{
    padding-right: 100px;
    display:inline-flex;
    color: white;
    justify-items: baseline;
}
.delete{
    padding-right: 10px;
    display:inline-flex;
    justify-items: baseline;

}
.edit{
    display:inline-flex;
    justify-items: baseline;
}