.Head{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    h1{
        padding: 0 500px 0 0;
        color: #fff;
    }
    img{
        width: 50px;
    }
}