.bm-item {
    text-decoration: none;
    font: 20px Tahoma, Geneva, sans-serif;
    color: #fff;
    border-radius: 10px;
    padding: 0.3rem;
    margin-bottom: 1rem;
    margin-left: 10px;
    font-weight: 700;
    cursor: pointer;
    overflow: hidden;
  }

  .bm-item:hover {
    color: yellow;
  }

.Collapsible {

}

.Collapsible__trigger {
    text-decoration: none;
    font: 20px Tahoma, Geneva, sans-serif;
    color: #fff;
    border-radius: 10px;
    padding: 0.3rem;
    margin-bottom: 1rem;
    margin-left: 10px;
    font-weight: 700;
    cursor: pointer;
    overflow: hidden;
}

.Collapsible__trigger:hover {
    color: yellow
}

.Collapsible__contentInner {
    text-decoration: none;
    font: 20px Tahoma, Geneva, sans-serif;
    color: #fff;
    border-radius: 10px;
    padding: 0.3rem;
    margin-bottom: 1rem;
    margin-left: 10px;
    font-weight: 700;
    cursor: pointer;
    overflow: hidden;
}