.MainContainer {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-decoration: none;
}

.linkEditTeamCard-editable {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  margin: 40px;
  // background-color: #fff;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  height: 180px;
  width: 90px;
  text-decoration: none;
  animation: tilt-shaking 0.5s infinite;

  .teamName {
    padding: 0;
    margin: -4px 0px 20px 0px;
    border: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; //
    font-size: 27px;
    text-decoration: none;
    color: #310863;
  }
  .points {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; //
    text-decoration: none;
    color: #310863;
  }
}

.cardTeamPosition {
  display: flex;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  flex-direction: column;
}
// Development
.circular {
  width: 85;
  height: 85;
}
.trophys {
  width: 30;
  margin-top: -5;
}
.words {
  font-size: 18;
  margin-top: -5;
  text-decoration: none;
}

.leader {
  text-shadow: black 0.1em 0.1em 0.1em;
  font-size: 27.25px;
  color: rgb(255, 183, 0);
  //-webkit-text-stroke-color: 2px black;
  //background-color: aqua;
}

.addTeamButton {
  height: 80px;
  width: 80px;
  filter: invert(1);
  opacity: 0.6;
}
.editIcon:hover {
  // background-color: gold;
  background-color: rgb(225, 225, 225);
}

.deleteIcon:hover {
  // background-color: rgb(195, 0, 0);
  background-color: rgb(225, 225, 225);
  // background-color: white;
  // filter: invert(1);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  border-radius: 100%;
  width: 60px;
  height: 60px;
}
.iconCard {
  align-items: center;
  width: 100%;
}
